.dir-locals.el
pub/itp16.tex
pub/agda.sty
pub/llncs.cls
src/Everything.agda

# Emacs
*#
*~
\.#*

# Agda
*.agdai

# LaTeX, BibLaTex, latexmk
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.ptb
*.run.xml
*.tex.blg

# XeLaTeX
fonts.dir
fonts.scale
